<tbody>
  <tr>
    <td><%= plane.id %></td>
    <td><%= link_to plane.code, "#" %></td>
    <td><%= plane.status %></td>
    <td><%= t ".number" %> <%= plane.requests.accepted.last.location_id %></td>
    <td>
      <% if plane.requests.last.process? %>
        <%= link_to plane.requests.last do %>
          <span class="label label-primary"><%=t ".processing" %></span>
        <% end %>
      <% else %>
        <% if plane.ready? %>
          <%= link_to new_request_path locale, plane_id: plane.id, status: plane.status do %>
            <span class="label label-default" data-toggle="tooltip" data-placement="right" title = <%= t ".click_create_request" %>><%= t ".no_request" %></span>
          <% end %>
        <% else %>
          <%= link_to new_request_path locale, plane_id: plane.id, status: plane.status do %>
            <span class="label label-default" data-toggle="tooltip" data-placement="right" title = <%= t ".click_create_request" %>><%= t ".no_request" %></span>
          <% end %>
        <% end %>
      <% end %>
    </td>
  </tr>
</tbody>
