<tbody>
  <tr>
    <td><%= plane.id %></td>
    <td><%= link_to plane.code, "#" %></td>
    <td><%= plane.status %></td>
    <td><%= t ".number" %> <%= plane.schedules.last.location_id %></td>
    <td>
      <% if plane.Ready? %>
        <%= link_to "#" do %>
          <i class="fas fa-tools fa-2x" data-toggle="tooltip" data-placement="right" title=<%=t(".change_gara")%>></i>
        <% end %>
      <% else %>
        <%= link_to "#" do %>
          <i class="fab fa-avianex fa-2x" data-toggle="tooltip" data-placement="right" title=<%=t(".change_ready")%>></i>
        <% end %>
      <% end %>
    </td>
  </tr>
</tbody>
