<% provide :title, t(".title") %>
<h1><%= t ".title"%></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= t ".order_id" %></th>
      <th scope="col"><%= t ".code" %></th>
      <th scope="col"><%= t ".status" %></th>
      <th scope="col"><%= t ".locaion" %></th>
      <th scope="col"><%= t ".action" %></th>
    </tr>
  </thead>
  <%= render @planes %>
</table>
<div class="col-md-6 col-md-offset-5">
  <%= paginate @planes, theme: "twitter-bootstrap-4" %>
</div>
