  <tbody>
    <tr>
      <td><%= user.id %></td>
      <td><%= link_to user.name, user %></td>
      <td><%= user.warehouse_id %></td>
      <td>
        <% if user.admin? %>
          <span class="badge badge-success"><%= t ".admin" %></span>
        <% elsif user.manager? %>
          <span class="badge badge-success"><%= t ".manager" %></span>
        <% else %>
          <span class="badge badge-success"><%= t ".staff" %></span>
        <% end %>
      </td>
      <td>
        <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "delete", user, method: :delete, data: { confirm: "You sure?" } %>
        <% end %>
      </td>
    </tr>
  </tbody>
