<% provide :title, t(".title") %>
<h1><%= t ".title"%></h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><%= t ".order" %></th>
      <th scope="col"><%= t ".warehouse_name" %></th>
      <th scope="col"><%= t ".status" %></th>
      <th scope="col"><%= t ".plane" %></th>
      <th scope="col"><%= t ".action" %></th>
    </tr>
  </thead>
  <%= render @locations%>
</table>
<%= paginate @locations, theme: "twitter-bootstrap-4" %>
